<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://kit.fontawesome.com/9ff96f2da2.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/cbc757fa4a.js" crossorigin="anonymous"></script>

    <title>{% block titulo %}Turismo{% endblock titulo %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    {% load static %}
    <link rel="stylesheet" href="{% static '/tornquist/publica/css/home.css'%}?v={% now 'U' %}">
    <link rel="stylesheet" href="{% static '/tornquist/publica/css/navbar.css'%}?v={% now 'U' %}">
    <link rel="stylesheet" href="{% static '/tornquist/publica/css/social.css'%}?v={% now 'U' %}">    

    {% block css %}{% endblock css %}
</head>
<body>

    {% include './nav.html' %}
    <a class = "botonwa" href="https://wa.me/34555005500" target="_blank">
        {% load static %}
        <img src="{% static '/tornquist/publica/img/logo-wasap.png' %}" width="60" height="60">
    </a>
    
    <main>
        {% load static %}
        <img src="{% static '/tornquist/publica/img/Atardecer.jpg'%}" alt="" class="background">
        {% block contenido %}{% endblock contenido %}
    </main>
    
    {% include './footer.html' %}
    
    {% block javascript %}{% endblock javascript %}
</body>
</html>