{% extends './base.html' %}

{% block titulo %}Gastronomía{% endblock titulo %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/tornquist/publica/css/zonasAlojamiento.css'%}?v={% now 'U' %}">
{% endblock css %}


{% block contenido %}
<section class="card-board">

    <div class="card">
        <div class="face front">
            {% load static %}<img src="{% static '/tornquist/publica/img/molino-azul.jpg'%}"  alt="...">
            <h3>Molino Azul - Sierra de la Ventana</h3>
        </div>

        <a href="tel:291-4260455">
          <div class="face back">
              <h3>Molino Azul - Sierra de la Ventana</h3>
              <ul>
                  <li>
                    <i class="fas fa-map-marker-alt"></i> - Sierra de la Ventana (Bs As -
                    Argentina)
                  </li>
                  
                  <li><i class="fas fa-phone"></i> - (+54) 0291-4941075</li>
                  <li>
                    <i class="fas fa-house"></i> - Av San Martin 114, Sierra de la Ventana Bs. As.
                  </li>
                  <li><i class="fas fa-envelope-open-text"></i> - MolinoAzul.com.ar</li>
                </ul>

          </div>   
        </a>             
    </div>

    <div class="card">
        <div class="face front">
            {% load static %}<img src="{% static '/tornquist/publica/img/sol-y-luna-restaurante.jpg'%}"  alt="...">
            <h3>Sol y Luna - Sierra de la Ventana</h3>
        </div>

        <a href="tel:291-4260455">
          <div class="face back">
              <h3>Sol y Luna - Sierra de la Ventana</h3>
              <ul>
                  <li>
                    <i class="fas fa-map-marker-alt"></i> - Sierra de la Ventana (Bs As -
                    Argentina)
                  </li>
                  
                  <li><i class="fas fa-phone"></i> - (+54) 0291-4941075</li>
                  <li>
                    <i class="fas fa-house"></i> - Av. San Marti 353, Sierra de la Ventana Bs. As.
                  </li>
                  <li><i class="fas fa-envelope-open-text"></i> - SolyLuna.com.ar</li>
              </ul>
          </div> 
        </a> 
    </div> 

    <div class="card">
        <div class="face front">
            {% load static %}<img src="{% static '/tornquist/publica/img/restaurantUrbano.jpg'%}"  alt="...">
            <h3>Restaurant Urbano - Tornquist</h3>
        </div>

        <a href="tel:291-4260455">
          <div class="face back">
              <h3>Restaurant Urbano - Tornquist</h3>
              <ul>
                  <li>
                    <i class="fas fa-map-marker-alt"></i> - Tornquist (Bs As -
                    Argentina)
                  </li>
                  
                  <li><i class="fas fa-phone"></i> - (+54) 0291-4941075</li>
                  <li>
                    <i class="fas fa-house"></i> - Drago 53, Tornquist Bs. As.
                  </li>
                  <li><i class="fas fa-envelope-open-text"></i> - RestaurantUrbano.com.ar</li>
              </ul>
          </div> 
        </a>
    </div> 
    
    <div class="card">
        <div class="face front">
            {% load static %}<img src="{% static '/tornquist/publica/img/hosteria-la-peninsula.jpg'%}"  alt="...">
            <h3>Hosteria La Peninsula - Villa Ventana</h3>
        </div>

        <a href="tel:291-4260455">
          <div class="face back">
              <h3>Hosteria La Peninsula - Villa Ventana</h3>
              <ul>
                  <li>
                    <i class="fas fa-map-marker-alt"></i> - Villa Ventana (Bs As -
                    Argentina)
                  </li>
                  
                  <li><i class="fas fa-phone"></i> - (+54) 0291-4941075</li>
                  <li>
                    <i class="fas fa-house"></i> - Drago 53, Villa Ventana Bs. As.
                  </li>
                  <li><i class="fas fa-envelope-open-text"></i> - LaPeninsula.com.ar</li>
              </ul>
          </div>
        </a>
    </div> 

    <div class="card">
        <div class="face front">
            {% load static %}<img src="{% static '/tornquist/publica/img/ristoranteDaRoberto.jpg'%}"  alt="...">
            <h3>Ristorante Da Roberto - Villa Ventana</h3>
        </div>

        <a href="tel:291-4260455">
          <div class="face back">
              <h3>Hosteria La Peninsula - Villa Ventana</h3>
              <ul>
                  <li>
                    <i class="fas fa-map-marker-alt"></i> - Villa Ventana (Bs As -
                    Argentina)
                  </li>
                  
                  <li><i class="fas fa-phone"></i> - (+54) 0291-4941075</li>
                  <li>
                    <i class="fas fa-house"></i> - Drago 53, Villa Ventana Bs. As.
                  </li>
                  <li><i class="fas fa-envelope-open-text"></i> - DaRoberto.com.ar</li>
              </ul>
          </div> 
        </a>
    </div> 
     
</section>
 
{% endblock contenido %}