{% extends './base.html' %}

{% block titulo %}Login{% endblock titulo %}
{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/tornquist/publica/css/contacto.css'%}?v={% now 'U' %}">
    <link rel="stylesheet" href="{% static '/tornquist/publica/css/login.css'%}?v={% now 'U' %}">
{% endblock css %}

{% block contenido %}
<section class="content showcase">
    <div class="login-page">
        <div class="form" >
          <form class="login-form" method="POST">
            {% csrf_token %}
            
            <input type="text" placeholder="Usuario" id="{{ form.username.auto_id }}" name="{{ form.username.name }}" 
            value="{{ form.username.value | default:'' }}"/>
            <input type="password" placeholder="Contraseña" id="{{ form.password.auto_id }}" name="{{ form.password.name }}" 
            value="{{ form.password.value | default:'' }}"/>
            <button type="submit" href="{% url 'inicio' %}">Iniciar Sesión</button>
            <p class="message">¿No estás registrado? <a href="{% url 'registrarse' %}">Creá una cuenta.</a></p>

            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}" role="alert">
                  {{message}}
              </div>
            {% endfor %}
            {% if form.non_field_errors %}
              {% for error in form.non_field_errors %} 
                <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
                </div>
              {% endfor %}
            {% endif %}
            <p class="warnings" id="warnings"></p>
          </form>
        </div>
    </div>
</section>
{% endblock contenido %}