* {
    box-sizing: border-box;
}
button {
    border-radius: 17px;
}
body {
    background: #181818;
    color: #fff;
    line-height: 1.6; 
    padding: 0 4px;
}
header {
    overflow: hidden;
}
.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
}
ul {
    list-style: none;
    padding: 0;
}
.logo2 {
    position: relative;
    text-align: center;
    font-size: 3em;
    margin-top: 15px;
}
.logo2 b {
    color: #03a9f4;
}
.content {
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    overflow: hidden;
}
.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
    border-radius: 7px;
    width: 860px;
    margin: auto;
    border-radius: 22px;
}
.contact-wrapper > * {
    padding: 1em;    
}
.contact-form {
    background: #222222;
    border-radius: 22px;
    display: flex;
    flex-direction: column;  
}
.contact-form form p {
    margin: 0;
    padding: 1em;
}
.contact-form form input,
.contact-form form textarea,
.contact-form form select {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #03a9f4;
}
.contact-form form select option {
    color: black;
}
.contact-form form button {
    background: #03a9f4;
    width: 30%;
    align-items: center;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
div.center {
    text-align: center;
}
.contact-form form button:hover,
.contact-form form button:focus {
    background: #1cb3f8;
    color: rgb(4, 4, 4);
    transition: background-color 1s ease-out;
    outline: 0;
}
.contact-info {
    background: #000;
    padding: 0%;
    border-radius: 12px;  
}
.contact-info h4, .contact-info ul, .contact-info p {
    text-align: center;
    margin: 0;
}
iframe {
    border-radius: 17px;
    width: 95%;
    margin: 0;  
}
.errorlist{
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
}
.warnings {
    width: 200px;
    text-align: center;
    margin: auto;
    color: rgb(32, 156, 218);
    padding-top: 20px;
}
.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.alert-heading {
    color: inherit;
}
.alert-link {
    font-weight: 700;
}
.alert-dismissible {
    padding-right: 3rem;
}
.alert-dismissible .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 1.25rem 1rem;
}
.alert-primary {
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe;
}
.alert-primary .alert-link {
    color: #06357a;
}
.alert-secondary {
    color: #41464b;
    background-color: #e2e3e5;
    border-color: #d3d6d8;
}
.alert-secondary .alert-link {
    color: #34383c;
}
.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}
.alert-success .alert-link {
    color: #0c4128;
}
.alert-info {
    color: #055160;
    background-color: #cff4fc;
    border-color: #b6effb;
}
.alert-info .alert-link {
    color: #04414d;
}
.alert-warning {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
}
.alert-warning .alert-link {
    color: #523e02;
}
.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}
.alert-danger .alert-link {
    color: #6a1a21;
}
.alert-light {
    color: #636464;
    background-color: #fefefe;
    border-color: #fdfdfe;
}
  .alert-light .alert-link {
    color: #4f5050;
}
.alert-dark {
    color: #141619;
    background-color: #d3d3d4;
    border-color: #bcbebf;
}
.alert-dark .alert-link {
    color: #101214;
}

@media(max-width: 820px) {
    body {
        padding: 0 4px;
    }
    .contact-form form button{
        width: 100%;
    }
    .contact-form input {
        width: 100vh;
    }
    .contact-info {
        display: flex;
        flex-direction: column;  
    }
    .content {
        display: flex;
        flex-direction: column;
    }
    .contact-wrapper {
        width: auto;
        margin: auto;
    }
}