/* @import url(https://fonts.googleapis.com/css?family=Roboto:300); */

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  overflow: auto;
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(2, 166, 242);
  box-shadow: 0 0 10px #03a9f4;
  border-radius: 15px;
}
.form input {
  outline: 0;
  background: rgba(220, 220, 220, 0.9);
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 15px;
}
.form input::placeholder {
  color: #747474;
  }
.form button {
  text-transform: uppercase;
  outline: 0;
  background: #03a9f4;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  text-align: center;
  transition: background 0.15s ease-out;
}
.form button:hover,.form button:active,.form button:focus {
  background: rgba(2, 166, 242, 0.368);
  transition: background 0.15s ease-out;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #03a9f4;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}