*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.boton {
    background: #03a9f4;
    width: 100%;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
    /* transition: all 0.3 ease; */
    cursor: pointer;
}
/* .boton:hover {
    background: #43A047;
} */
.enlace{
    position: absolute;
    display: inline-block;
}
.logo{
    height: 12vh;
    margin: 1vh 0 1vh 1.5vw;
}
nav {
    position: fixed;
    width: 100%;
    height: 16vh;
    background: rgba(231, 234, 237, 0.504);
    z-index: 999;
    overflow: visible;
    top: 0;
}
.navBar {
    margin-right: 20px;    
    text-align: right; 
    white-space:nowrap;
    margin: 6.60vh 1.5vw; 
}
nav li{
    display: inline-block;
    margin: 0 0.25vw;
}
nav a{
    color: rgba(12, 12, 12, 0.668);
    font-size: 1.4vw;
    font-weight: bold;
    border-radius: 7px;
}
nav p {
    color:rgba(12, 12, 12, 0.668);
}
.navBar li a.active, .navBar li a:hover{
    background: rgba(2, 166, 242, 0.368);
    transform: scale(1.3) translateY(-5px);
    transition: .5s;
    cursor: pointer;
}
.checkbtn{
    display: none; 
}
#check{
    display: none;
}

@media (max-width: 1199.98px){
    nav{
        background: rgba(11, 11, 11, 0.959);
        width: 100%;
        z-index: 999;
        position: fixed;
        overflow: visible;
    }
    .navBar {
        position: fixed;
        width: 98%;
        height: 80vh;
        background: rgba(231, 234, 237, 0.825);
        top: 70px;
        left: -100%;
        text-align: center;
        transition: all .7s; 
    }
    .logo{
        margin: 1vh 5vw;
    }
    .checkbtn{
        display: block;
        color: rgba(231, 234, 237, 0.668);
        float: right;
        margin: 7.5vh 5vw;
        font-size: 25px;
    }
    #check:checked ~ ul{
        left: 0;
        z-index: 99;
    }
    nav li{
        display: block;
        margin: 2.5vw;
        line-height: 7vh;
    }
    nav a{
        font-size: 5vw;
        color: rgba(7, 7, 7, 0.668);
        font-weight: bold;
        padding: 3px 13px;
    }
    li a:hover, li a.active{
        background: none;
        color: #03a9f4;
    }
}

/* @media (max-width: 1180px){ */
   
   
    /* nav ul li{
        display: block;
        margin: 28px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 35px;
        color: rgba(7, 7, 7, 0.668);
        font-weight: bold;
        padding: 3px 13px;
    }
    li a:hover, li a.active{
        background: none;
        color: #03a9f4;
    }
    #check:checked ~ ul{
        left: 0;
        z-index: 99;
    } */
/* } */

/* @media (min-width: 1180px){ */
    /* .navBar{
        height: 80px;
    } */
    /* nav{
        background: rgba(231, 234, 237, 0.504)
    } */
    /* nav .navBar li{
        padding-top: 30px;
    }
    nav .navBar li a{
        padding-right: 7px;
    } */
/* } */
