.social{
    display: flex;
    height: 50px;
    font-size: 33px;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
    background: rgba(0, 0, 0, 0.893);
    margin: 0;
}
.social li{
    list-style: none;
    align-items: center;
    justify-content: space-between;
}
.social li a {
    display: inline-block;
    color: rgba(240, 248, 255, 0.789);
    border-radius: 9px;
    text-shadow: 0px 1px 2px rgba(2, 166, 242, 0.799);
    transition: 0.5s;
}
.social li .fa-brands:hover {
    transform: scale(1.3) translateY(-5px);
    color: rgba(2, 166, 242, 0.799);
    transition: .5s;
}
footer {
    position: absolute;
    /* overflow: visible; */
    bottom: 0;
    margin: 0;
    height: 50px;
    width: 100%;
    padding:0;
}